Lo primero que hacemos cuando empezamos a aprender un nuevo lenguaje de programación es llamar a la instrucción que nos muestre "Hola mundo" por pantalla.

In [ ]:
print('Hola Mundo 2')

Hola Mundo 2

## Recoger información por parte del usuario

La siguiente instrucción solicita al usuario el nombre de usuario y lo almacena en la variable *nombre_usuario*; posteriormente lo muestra por consola.

In [3]:
nombre_usuario = input('Nombre usuario: ')
print(nombre_usuario)

Nombre usuario: 5
5

In [6]:
numero = input('Dame un número')
suma = int(numero) + 5
print (suma)

Dame un número7
12

## Las variables

### Cadenas

La definición de las cadenas en Python se realiza a través de las comillas simples (') o de comillas dobles ("), pero no mezclándolas. Por convención siempre se suelen utilizar las simples, excepto cuando dentro de la cadena haya que incluir una comilla doble.

In [7]:
cadena1 = 'Que calor hace'
cadena2 = "Que calor hace"
cadena3 = "Que calo' hace"

print(cadena1)
print(type(cadena1))
print(cadena2)
print(type(cadena2))
print(cadena3)
print(type(cadena3))

Que calor hace
<class 'str'>
Que calor hace
<class 'str'>
Que calo' hace
<class 'str'>

#### Operaciones con Cadenas

In [8]:
#Concatenación

string_1 = 'Good'
string_2 = " day"
string_3 = string_1 + string_2
print(string_3)
print('Hello ' + 'World')

Good day
Hello World

In [9]:
#Tamaño
print(len(string_3))

8

In [18]:
#Acceder a una posición
my_string = 'Hello World'
print(my_string[4])
print(my_string[-1])
print(my_string[2:3]) # obtiene los caracteres que ocupa la posicion 2 a la 3

o
d
l

In [11]:
#Substrings
my_string = 'Hello World'
print(my_string[4])   # caracter en la posición 4
print(my_string[1:5]) # substring desde la posición 1 a la 5
print(my_string[:5])  # substring desde el principio hasta la posición 5
print(my_string[2:])  # substring desde la posición 2 hasta el final

o
ello
Hello
llo World

In [12]:
#Trocear un string
title = 'The Good, The Bad, and the Ugly'
print('Source string:', title)
print('Split using a space')
print(title.split(' '))
print('Split using a comma')
print(title.split(','))

Source string: The Good, The Bad, and the Ugly
Split using a space
['The', 'Good,', 'The', 'Bad,', 'and', 'the', 'Ugly']
Split using a comma
['The Good', ' The Bad', ' and the Ugly']

In [13]:
#Contabilizar caracteres
my_string = 'Count, the number of spaces'
print("my_string.count(' '):", my_string.count(' '))

my_string.count(' '): 4

In [14]:
#Reemplazar
welcome_message = 'Hello World!'
print(welcome_message.replace("Hello", "Goodbye"))

Goodbye World!

In [15]:
#Encontrar substring
print('Edward Alun Rawlings'.find('Alun')) #devuelve posición en la que empieza el substring y -1 si no aparece

7

In [16]:
#Concatenar Strings (da error)
msg = 'Hello Lloyd you are ' + 21
print(msg)

TypeError: can only concatenate str (not "int") to str

In [ ]:
msg = 'Hello Lloyd you are ' + str(21)
print(msg)

In [ ]:
#Comparar strings
print('James' == 'James')
print('James' == 'John')
print('James' != 'John')
print('James' == 'james')
print("James" == 'James') #OJO, es True

In [ ]:
#Otras operaciones muy útiles son las siguientes
some_string = 'Hello World'
print('Operaciones basicas')
print('some_string', some_string)

#comprobar si comienza por ...
print("some_string.startswith('H')", some_string.startswith('H'))
print("some_string.startswith('h')", some_string.startswith('h'))

#comprobar si termina por ...
print("some_string.endswith('d')", some_string.endswith('d'))

#comprobar todas las palabras comienzan por mayúscula y si el resto de letras son minúscula
print('some_string.istitle()', some_string.istitle())

#comprobar si son mayúsculas, minúsculas
print('some_string.isupper()', some_string.isupper())
print('some_string.islower()', some_string.islower())

#comprobar si todos los caracteres son letras
print('some_string.isalpha()', some_string.isalpha())
print('')

#también podemos realizar conversiones
print('Conversiones')
print('some_string.upper()', some_string.upper()) #mayúsculas todo
print('some_string.lower()', some_string.lower()) #minúsculas todo
print('some_string.title()', some_string.title()) #cada palabra comienza en mayúscula y el resto son minúsculas
print('some_string.swapcase()', some_string.swapcase()) #intercambiar mayúsculas por minúsculas y viceversa
print('String leading, trailing spaces', " xyz ".strip()) #eliminar espacios al principio y final

In [ ]:
#Formatear strings

#Cuando tenemos variables que deseamos concatenar entre los caracteres de un
#string podemos seguir la siguiente estrategia. Existen más formas, pero
#considero que esta es la más sencilla.

entero1 = 31
cadena1 = 'Carlos'
print(f'{cadena1} dice que tiene {entero1} anios')

### Numeros

Ya sabemos que los números pueden corresponder a diferentes tipos; como por ejemplo enteros y reales.

#### Enteros

No importa lo grandes que sean los enteros, siempre los gestionaremos de la misma forma.

In [ ]:
x = 1
print(x)

print(type(x))

1
<class 'int'>

Cuando solicitamos información por consola, se recogerá como String. Si deseamos trabajar con esa información como si fuera un entero deberemos convertirla a dicho tipo de datos. Para ello realizaremos la conversión de la siguiente forma:

In [ ]:
anios = int(input('Introduce tu edad: '))
print(anios)
print(type(anios))

##### Operaciones aritméticas

In [ ]:
home = 10
away = 15

#suma
print(home + away)
print(type(home + away))

#multiplicación
print(10 * 4)
print(type(10*4))

#resta
goals_for = 10
goals_against = 7
print(goals_for - goals_against)
print(type(goals_for - goals_against))

#división con decimales
print(100 / 21)
print(type(100 / 20))

res1 = 3/2
print(res1)
print(type(res1))

#división entera
res1 = 3//2
print(res1)
print(type(res1))

#modulo
print('Modulus division 4 % 2:', 4 % 2)
print('Modulus division 3 % 2:', 3 % 2)

#exponencial
a = 5
b = 3
print(a ** b)

#### Reales

Al igual que los enteros, no importa su longitud, se gestionarán todos de la misma forma. **Cuidado, tienes que utilizara el punto para separar la parte entera de la decimal**.

In [ ]:
temperatura = float(input("Introduce la temperatura: "))
print(temperatura)
print(type(temperatura))

##### Operaciones aritméticas

In [ ]:
print(2.3 + 1.5) #suma
print(1.5 / 2.3) #división con decimales
print(1.5 * 2.3) #multiplicación
print(2.3 - 1.5) #resta
print(1.5 - 2.3) #resta

i = 3 * 0.1 #multiplicación (cuidado con el sesgo)
print(i)

### Booleanos

Las variables booleanas únicamente pueden ser del tipo *True* o *False*. El equivalente de int y float en los booleanos es bool.

In [ ]:
all_ok = True
print(all_ok)
all_ok = False
print(all_ok)
print(type(all_ok))

Se puede traducir el valor booleano a entero:

In [ ]:
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))

##### Operadores lógicos

In [ ]:
print(True and True)  #operador AND
print(True or False)  #operador OR
print(not False)      #operador NOT

## Estructuras de control

Antes de comenzar con las estructuras de control es importante entender cada uno de los operadores de comparación que podemos utilizar. Estos operadores devolverán un valor booleano.

In [ ]:
print(3==3)   #Igualdad
print(3!=3)   #Diferente
print(2<3)    #Menor que
print(2>3)    #Mayor que
print(2<=3)   #Menor o igual que
print(2>=3)   #Mayor o igual que

### Condicional **if**

In [ ]:
num = int(input('Enter a number: '))
if num < 0:
  print(num, 'is negative')

### Condicional **if ... else ...**

In [ ]:
num = int(input('Enter yet another number: '))
if num < 0:
  print('Its negative')
else:
  print('Its not negative')

### Condicional **if ... else if ... else ...**

In [ ]:
savings = float(input("Enter how much you have in savings: "))
if savings == 0:
  print("Sorry no savings")
elif savings < 500:
  print('Well done')
elif savings < 1000:
  print('Thats a tidy sum')
elif savings < 10000:
  print('Welcome Sir!')
else:
  print('Thank you')

### Bucle con **while**

In [1]:
count = 0
print('Starting')
while count < 10:
  print(count, ' ', end='') # part of the while loop
  count += 1    # also part of the while loop
print()
print('Done')

Starting
0  1  2  3  4  5  6  7  8  9
Done

### Bucle con **for**

In [2]:
#contador ascendente
print('Print out values in a range')
for i in range(0, 10):
  print(i, ' ', end='') # part of the while loop
print()
print('Done')

#contador descendente
print('Print out values in a range')
for i in range(10, 0, -1):
  print(i, ' ', end='') # part of the while loop
print()
print('Done')

Print out values in a range
0  1  2  3  4  5  6  7  8  9
Done
Print out values in a range
10  9  8  7  6  5  4  3  2  1
Done

## Definición de funciones

In [ ]:
#sin parametros de entrada
def print_msg():
  print('Hola mundo')

print_msg()

#con parametros de entrada
def print_my_msg(msg):
  print(f'Mensaje: {msg}')

print_my_msg('Hola mundo')

#con devolución de un valor
def cuadrado(n):
  return n**2

print(cuadrado(3))

#con devolución de varios valores
def invertir(a, b):
  return b,a

print(invertir(1,2))

#varios parametros de entrada
def greeter1(name, message):
  print(f'Welcome {name} - {message}')

greeter1('Carlos', 'Bienvenido')

#parámetros con valor por defecto
def greeter2(name, message = 'Live Long and Prosper'):
  print(f'Welcome {name} - {message}')

greeter2('Carlos')

#cualquier numero de parametros
def greeter3(*args):
  for name in args:
    print('Welcome', name)

greeter3('Paula', 'Ada', 'Carlota')